<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link href="/css/main.css" rel="stylesheet" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> This site was created by Courage Ugwuanyi. It uses data from mapbox and weatherstack.</p>
            <img class="portrait" src="/img/profile-pic.jpg">
        </div>

        {{> footer }}
    </body>
</html>